build/
src/*.syo
src/ezwebgallery.suo
src/ezwebgallery.sdf
src/GeneratedFiles
src/builddate.h
src/builddate.h
src/ezwebgallery.pro.user
src/EZWebGallery.sdf
src/EZWebGallery.suo
src/ezwebgallery.sln
src/ezwebgallery.vcxproj.user
src/ezwebgallery.opensdf
src/ipch
src/vc100.pdb
src/Makefile*
src/bazaarrev.h
src/Release
src/ui/ui_*.h
src/build
src/builddate.h
src/ezwebgallery.pro.*
src/ressources/win32/GalleryDesigner.aps
src/EZWebGallery.opensdf
src/widgets/EzwWidgets.sdf
src/widgets/EzwWidgets.sln
src/widgets/EzwWidgets.suo
src/widgets/EzwWidgets.vcxproj.user
src/widgets/vc100.pdb
src/widgets/GeneratedFiles
src/widgets/Release
src/widgets/debug
src/widgets/ipch
src/widgets/tmp
src/widgets/x64/
deployment/*.exe
.bzrignore
checkin
Makefile*
debian/ezwebgallery/
debian/ezwebgallery.debhelper.log
debian/ezwebgallery.substvars
debian/files
debian/stamp-makefile-build
debian/stamp-makefile-install
ezwebgallery.pro.user
deployment/common/data/
deployment/windows/Setup_EZWebGallery.exe
deployment/windows/version.nsh
ezwebgallery.pro.user

**/.DS_Store

*.exe
*.tlog
*.pdb
moc_*.cpp
qrc_*.cpp
*.bak
src/widgets/Makefile
ezwebgallery.opensdf
ezwebgallery.sdf
ezwebgallery.sln
ezwebgallery.v12.suo
ezwebgallery.vcxproj.user
*.vcxproj.use
*.opensdf
src/widgets/EzwWidgets.v12.suo
debug
release
*.obj
*.sdf
*.suo
*.sln
*.vcxproj.user
