[Desktop Entry]
Version=0.19
Type=Application
Terminal=false
Icon[fr_FR]=/usr/share/ezwebgallery/EZWG-Icone.svg
Name[fr_FR]=EZWebGallery
Exec=ezwebgallery
Comment[fr_FR]=Générez une galerie photo en ligne en quelques clics !
Name=EZWebGallery
GenericName=EZWebGallery
Comment=Generate web photo galleries in a few clicks!
Icon=/usr/share/ezwebgallery/EZWG-Icone.svg
Categories=Qt;Utility;Web;Photo
