source: ezwebgallery
Section: utils
Priority: optional
Maintainer: Christophe Meneboeuf (XtoF) <xtof@ezwebgallery.org>
Build-Depends: build-essential, qt5-default, libmagick++-dev, cdbs, debhelper (>= 8)
Standards-Version: 3.9.3
Homepage: http://www.ezwebgallery.org

Package: ezwebgallery
Architecture: any
Depends: libmagick++6 | libmagick++5, ${shlibs:Depends}, ${misc:Depends}
Description: Generates web photo galleries in a few clicks.
    Select a folder containing photos and generate a web photo gallery
    in a few clicks. Galleries are optimized to be browsed on any desktop
    and mobile browsers and are skinnable.
